{% extends 'base.html' %}

{% block title %}
    Панель администрирования
{% endblock %}

{% block content %}
    {% set ns = namespace (rest_id = 0) %}
    <h2>Личный кабинет</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if current_user.ownership == 'all' %}
            <ul>Вы администратор всех ресторанов</ul>
            {% for restaurant in restaurants %}
                <div class="accordion" id="accordionRests">
                    <div class="card">
                        <div class="card-header" id="heading{{ restaurant.name }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ restaurant.name }}" aria-expanded="false" aria-controls="collapse{{ restaurant.name }}">
                                    {{ restaurant.name }}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ restaurant.name }}" class="collapse" aria-labelledby="heading{{ restaurant.name }}" data-parent="#accordionRests">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="p-2 flex-fill bd-highlight">Название блюда</div>
                                    <div class="p-2 flex-fill bd-highlight">Стоимость</div>
                                    <div class="p-2 flex-fill bd-highlight">Описание</div>
                                    <div class="p-2 flex-fill bd-highlight">Категория</div>
                                    <div class="p-2 flex-fill bd-highlight">Изображение</div>
                                    <div class="p-2 flex-fill bd-highlight"></div>
                                </div>
                                {% for dish in dishes %}
                                    {% if dish.id_rest == restaurant.id %}
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.name }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.cost }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.composition }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.category }}</div>
                                            <div class="p-2 flex-fill bd-highlight"><img src="{{ dish.img_link }}" height=100 width=100 align="center"></div>
                                            <div class="p-2 flex-fill bd-highlight">
                                                <form method="post">
                                                    {{ delete_form.csrf_token }}
                                                    {{ delete_form.delete_id(value=dish.id) }}
                                                    {{ delete_form.delete(class="btn btn-danger") }}
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <ul>Вы администратор ресторана {{ current_user.ownership }}</ul>
            <table style="margin-bottom:1%">
                <tr>
                    <th>Название блюда</th>
                    <th>Стоимость</th>
                    <th>Описание</th>
                    <th>Категория</th>
                    <th>Изображение</th>
                    <th></th>
                </tr>
                {% for restaurant in restaurants %}

                    {% if current_user.ownership == restaurant.name %}
                        {% set ns.rest_id = restaurant.id %}
                        {% for dish in dishes|sort(attribute='category') %}
                            {% if dish.id_rest == ns.rest_id %}
                            <tr>
                                <td>{{ dish.name }}</td>
                                <td>{{ dish.cost }} р.</td>
                                <td>{{ dish.composition }}</td>
                                <td>{{ dish.category }}</td>
                                <td><img src="{{ dish.img_link }}" height=100 width=100 align="center"></td>
                                <td>
                                    <form method="post">
                                        {{ delete_form.csrf_token }}
                                        {{ delete_form.delete_id(value=dish.id) }}
                                        {{ delete_form.delete(class="btn btn-danger") }}
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Добавить блюдо
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        {{ dish_form.csrf_token() }}
                        <table>
                            <tr>
                                <td>{{ dish_form.name.label }}</td>
                                <td>{{ dish_form.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.cost.label }}</td>
                                <td>{{ dish_form.cost }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.composition.label }}</td>
                                <td>{{ dish_form.composition }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.img_file.label }}</td>
                                <td>{{ dish_form.img_file }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.category.label }}</td>
                                <td>{{ dish_form.category }}</td>
                            </tr>
                            <tr>
                                {% if current_user.ownership != 'all' %}
                                    {% if ns.rest_id != 0 %}
                                            {{ dish_form.id_rest(value=ns.rest_id) }}
                                        {% endif %}
                                {% else %}
                                    <td>{{ dish_form.id_rest.label }}</td>
                                    <td>{{ dish_form.id_rest }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ dish_form.dish_add_submit }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Добавить категорию
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="" method="post">
                        {{ category_form.csrf_token() }}
                        <table>
                            <tr>
                                <td>{{ category_form.name.label }}</td>
                                <td>{{ category_form.name }}</td>
                            </tr>
                            <tr>
                                {% if ns.rest_id != 0 %}
                                    <td>
                                        {{ category_form.restaurant_id(value=ns.rest_id) }}
                                    </td>
                                {% else %}
                                    <td>{{ category_form.restaurant_id.label }}</td>
                                    <td>{{ category_form.restaurant_id }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ category_form.category_add_submit }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Удалить категорию
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="" method="post">
                        {{ category_delete_form.csrf_token() }}
                        <table>
                            <tr>
                                <td>{{ category_delete_form.name.label }}</td>
                                <td>{{ category_delete_form.name }}</td>
                            </tr>
                            <tr>
                                <tr>
                                {% if ns.rest_id != 0 %}
                                    <td>
                                        {{ category_delete_form.restaurant_id(value=ns.rest_id) }}
                                    </td>
                                {% else %}
                                    <td>{{ category_delete_form.restaurant_id.label }}</td>
                                    <td>{{ category_delete_form.restaurant_id }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ category_delete_form.category_delete_submit }}</td>
                            </tr>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if current_user.ownership == 'all' %}
        <div class="accordion" id="accordionRest">
            <div class="card">
                <div class="card-header" id="headingRest">
                    <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseRest" aria-expanded="false" aria-controls="collapseRest">
                            Добавить ресторан
                        </button>
                    </h5>
                </div>
                <div id="collapseRest" class="collapse" aria-labelledby="headingRest" data-parent="#accordionRest">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {{ restaurant_form.csrf_token() }}
                            <table>
                                <tr>
                                    <td>{{ restaurant_form.name.label }}</td>
                                    <td>{{ restaurant_form.name }}</td>
                                </tr>
                                <tr>
                                    <td>{{ restaurant_form.address.label }}</td>
                                    <td>{{ restaurant_form.address }}</td>
                                </tr>
                                <tr>
                                    <td>{{ restaurant_form.contact.label }}</td>
                                    <td>{{ restaurant_form.contact }}</td>
                                </tr>
                                <tr>
                                    <td>{{ restaurant_form.passwd.label }}</td>
                                    <td>{{ restaurant_form.passwd }}</td>
                                </tr>
                                <tr>
                                    {{ restaurant_form.service_uid(value=None) }}
                                </tr>
                                <tr>
                                    <td>{{ restaurant_form.rest_add_submit }}</td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingStat">
                    <h5 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseStat" aria-expanded="false" aria-controls="collapseStat">
                            Статистика
                        </button>
                    </h5>
                </div>
                <div id="collapseStat" class="collapse" aria-labelledby="headingStat" data-parent="#accordionRest">
                    <div class="card-body">
                        <div>Количество заказов в сумме отдельно по ресторанам и в общем полная сумма по всем ресторанам за месяц.</div>
                        <button id="btnStat1">Показать</button>
                        <div class="stat1" style="display:none;white-space:pre;">{{ stat1 }}</div>
                        <div style="margin-top:15px;">Количество заказов по ресторанам по дням, неделям, в месяце.</div>
                        <button id="btnStat2">Показать</button>
                        <div class="stat2" style="display:none;white-space:pre;">{{ stat2 }}</div>
                        <div style="margin-top:15px;">Количество заказов в общем по дням, неделям, в месяце.</div>
                        <button id="btnStat3">Показать</button>
                        <div class="stat3" style="display:none;">В разработке</div>
                        <div style="margin-top:15px;">Статистика заказов блюд, какие блюда часто заказывают, какие меньше - суши, пиццу, горячее.</div>
                        <button id="btnStat4">Показать</button>
                        <div class="stat4" style="display:none;">В разработке</div>
                        <div style="margin-top:15px;">Количество изменений в заказе.</div>
                        <button id="btnStat5">Показать</button>
                        <div class="stat5" style="display:none;">В разработке</div>
                        <div style="margin-top:15px;">Количество отмен заказов.</div>
                        <button id="btnStat6">Показать</button>
                        <div class="stat6" style="display:none;">Количество отмененных заказов - {{ stat6 }}</div>
                        <div style="margin-top:15px;">Количество уникальных посетителей.</div>
                        <button id="btnStat7">Показать</button>
                        <div class="stat7" style="display:none;">Количество уникальных пользователей - {{ stat7 }}</div>
                        <script>
                            $(document).ready(function() {
                                $("#btnStat1").click(function(){
                                    $(".stat1").toggle();
                                });
                                $("#btnStat2").click(function(){
                                    $(".stat2").toggle();
                                });
                                $("#btnStat3").click(function(){
                                    $(".stat3").toggle();
                                });
                                $("#btnStat4").click(function(){
                                    $(".stat4").toggle();
                                });
                                $("#btnStat5").click(function(){
                                    $(".stat5").toggle();
                                });
                                $("#btnStat6").click(function(){
                                    $(".stat6").toggle();
                                });
                                $("#btnStat7").click(function(){
                                    $(".stat7").toggle();
                                });
                            });
                        </script>
                    </div>
                </div>
        </div>
    {% endif %}

{% endblock %}
