{% extends 'base.html' %}

{% block title %}
    Панель администрирования
{% endblock %}

{% block content %}
    {% set ns = namespace (rest_id = 0) %}
    <h2>Личный кабинет</h2>

        {% if current_user.ownership == 'all' %}
            <ul>Вы администратор всех ресторанов</ul>
            {% for restaurant in restaurants %}
                <div class="accordion" id="accordionRests">
                    <div class="card">
                        <div class="card-header" id="heading{{ restaurant.name }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ restaurant.name }}" aria-expanded="false" aria-controls="collapse{{ restaurant.name }}">
                                    {{ restaurant.name }}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ restaurant.name }}" class="collapse" aria-labelledby="heading{{ restaurant.name }}" data-parent="#accordionRests">
                            <div class="card-body">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="p-2 flex-fill bd-highlight">Название блюда</div>
                                    <div class="p-2 flex-fill bd-highlight">Стоимость</div>
                                    <div class="p-2 flex-fill bd-highlight">Состав</div>
                                    <div class="p-2 flex-fill bd-highlight">Категория</div>
                                    <div class="p-2 flex-fill bd-highlight">Изображение</div>
                                </div>
                                {% for dish in dishes %}
                                    {% if dish.id_rest == restaurant.id %}
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.name }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.cost }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.composition }}</div>
                                            <div class="p-2 flex-fill bd-highlight">{{ dish.category }}</div>
                                            <div class="p-2 flex-fill bd-highlight"><img src="{{ dish.img_link }}" height=100 width=100 align="center"></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <ul>Вы администратор ресторана {{ current_user.ownership }}</ul>
            <table style="margin-bottom:1%">
                <tr>
                    <th>Название блюда</th>
                    <th>Стоимость</th>
                    <th>Состав</th>
                    <th>Категория</th>
                    <th>Изображение</th>
                    <th></th>
                </tr>
                {% for restaurant in restaurants %}

                    {% if current_user.ownership == restaurant.name %}
                        {% set ns.rest_id = restaurant.id %}
                        {% for dish in dishes|sort(attribute='category') %}
                            {% if dish.id_rest == ns.rest_id %}
                            <tr>
                                <td>{{ dish.name }}</td>
                                <td>{{ dish.cost }} р.</td>
                                <td>{{ dish.composition }}</td>
                                <td>{{ dish.category }}</td>
                                <td><img src="{{ dish.img_link }}" height=100 width=100 align="center"></td>
                                <td>
                                    <form method="post">
                                        {{ delete_form.csrf_token }}
                                        {{ delete_form.delete_id(value=dish.id) }}
                                        {{ delete_form.delete(class="btn btn-danger") }}
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Добавить блюдо
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        {{ dish_form.csrf_token() }}
                        <table>
                            <tr>
                                <td>{{ dish_form.name.label }}</td>
                                <td>{{ dish_form.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.cost.label }}</td>
                                <td>{{ dish_form.cost }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.composition.label }}</td>
                                <td>{{ dish_form.composition }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.img_file.label }}</td>
                                <td>{{ dish_form.img_file }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.category.label }}</td>
                                <td>{{ dish_form.category }}</td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.id_rest.label }}</td>
                                <td>
                                    {% if ns.rest_id != 0 %}
                                        {{ dish_form.id_rest(value=ns.rest_id) }}
                                    {% else %}
                                        {{ dish_form.id_rest }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ dish_form.submit }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Добавить категорию
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="" method="post">
                        {{ category_form.csrf_token() }}
                        <table>
                            <tr>
                                <td>{{ category_form.name.label }}</td>
                                <td>{{ category_form.name }}</td>
                            </tr>
                            <tr>
                                {% if ns.rest_id != 0 %}
                                    <td>
                                        {{ category_form.restaurant_id(value=ns.rest_id) }}
                                    </td>
                                {% else %}
                                    <td>
                                        {{ category_form.restaurant_id }}
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ category_form.submit }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
