{% extends 'base.html' %}
{% block title %}
    Отправка сообщения
{% endblock %}
{% block content %}
    <h3 style="padding: 20px;">Отправка сообщения всем пользователям бота</h3><br><br>
    <script>
        document.send_msg_form.reset();
    </script>
    <form method="POST" name="send_msg_form" enctype="multipart/form-data">
        <div class="form-group row" style="padding: 20px;">
            <label for="msg_img" class="col-sm-2 col-form-label">Изображение</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" name="msg_img" id="msg_img" accept="image/*"/>
            </div>
        </div>
        <div class="form-group row" style="padding: 20px;">
            <label for="msg_txt" class="col-sm-2 col-form-label">Текст сообщения</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" name="msg_txt" id="msg_txt" placeholder="Текст сообщения"/>
            </div>
        </div>
        <div class="form-group" style="padding: 20px;">
            <button type="submit" class="btn btn-primary mb-2">Отправить сообщение</button>
        </div>
    </form>
    <script>
        $("#msg_txt").replaceWith('<textarea class="form-control" id="msg_txt" name="msg_txt"></textarea>');
    </script>
{% endblock %}