{% extends 'base.html' %}

{% block title %}
    Панель статистики
{% endblock %}
{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" style="margin-top:25px;margin-bottom:25px;">Панель статистики</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="w-100"></div>
        <div class="col">
            <p class="text-md-start">Уникальные посетители по дням.</p>
        </div>
        <div class="col"></div>
        <div class="w-100">
            <div class="stat6">
                <p class="text-md-start" style="white-space: pre-wrap;">{{ stat6 }}</p>
            </div>
        </div>
        <div class="w-100"></div>
    </div>
    <a class="btn btn-primary" aria-current="page" href="\statistics" style="width: 98px;">Назад</a>
{% endblock %}