<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Robofood webapp</title>
   <script src="https://telegram.org/js/telegram-web-app.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="./static/webapp_item.css">
</head>
<body>
   <div class="flex-container" id="dish-id-{{dish.id}}">
      <div class="img-container"><img src="{{dish.img_link}}"></div>
      <h3>{{dish.name}}</h3>
      <div class="container-text">{{dish.composition}}</div>
   </div>
   <span id="hiddenCost" style="display: none;">{{dish.cost}}</span>
   <div id="hiddenId" style="display:none;">{{dish.id_rest}}</div>
   <div id="hiddenDishId" style="display:none;">{{dish.id}}</div>
   <footer class="footer" id="item-btn-dish-id">
      <div class="btn plusminus" id="btn-rem">-</div>
      <div class="btn quantity" id="amount-btn-dish-id">1</div>
      <div class="btn plusminus" id="btn-add">+</div>
   </footer>
   <script>
   let tg = window.Telegram.WebApp;
   let cost = Number($('#hiddenCost').text());
   let restId = Number($('#hiddenId').text());
   let dishId = $('#hiddenDishId').text();
   tg.expand();
   tg.BackButton.show();
   tg.MainButton.text = "Добавить " + cost + " ₽";
   tg.MainButton.show();
   let uid = tg.initDataUnsafe.user.id;
<!--   let uid = 113737020;-->
   Telegram.WebApp.onEvent('backButtonClicked', function(){
        window.location = "/webapp/" + restId + "?dishId=" + dishId;
   });
   let ops = {'add': 1, 'rem': -1};
   $('.plusminus').click(function() {
      let quantity = Number($('#amount-btn-dish-id').text());
      let op = $(this).attr('id').split('-')[1];
      let count = quantity + ops[op];
      if (count >= 1) {
         $('#amount-btn-dish-id').html(count);
         tg.MainButton.setParams({"text": "Добавить " + cost * count + " ₽"});
      }
   });
   Telegram.WebApp.onEvent('mainButtonClicked', function(){
      let dishId = $('div[id^="dish-id-"]').attr('id').split('-')[2];
      $.ajax({
         url: '/webapp/data',
         type: 'POST',
         data: {"uid": uid, "dish_id": dishId, "quantity": $('#amount-btn-dish-id').text(), "method": "add"},
         success: function(data) {
            window.location.href = "/webapp/" + restId + "?dishId=" + dishId;
         },
      });
   });

</script>
</body>
</html>
