<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Robofood webapp</title>
   <script src="https://telegram.org/js/telegram-web-app.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!--   <script src="/static/scroll-navigation.js"></script>-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="/static/webapp.css">
</head>
<body>
    <div class="nav-bar fixed-top">
        {% for category in categories %}
            {% if category.restaurant_id == rest.id %}
                <div id="nav-category-{{category.id}}" class="nav-items"><a href="#category-{{category.id}}" class="scrollNav-links" id="link-category-{{category.id}}">{{ category.name }}</a></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="rest-card">
        <div class="rest-name">{{ rest.name }}</div>
        <div class="rest-info">Время доставки: {{info.delivery_time}}<br>Адрес самовывоза: {{info.takeaway_address}}</div>
    </div>
    <div class="flex-container rest_{{rest.id}}" id="wrapper">
       <div class="item terms">
           <img src="{{ info.img if info.img else '/static/dummy_rest.jpg' }}">
           <div class="dish-name"><b>Условия доставки</b></div>
       </div>
        {% for category in categories %}
            {% if category.restaurant_id == rest.id %}
                <div class="category-name scrollNav-content" id="category-{{category.id}}">{{ category.name }}</div>
                {% for dish in dishes %}
                    {% if dish.id_rest == rest.id and dish.category == category.name and dish.status %}
                        <div class="item category-id-{{category.id}}" id="itemCard-{{dish.id}}">
                            <img src="{{dish.img_link}}" id="img-item-{{dish.id}}">
                            <div class="dish-name">{{ dish.name }}</div>
                            <div class="container-text"><p class="dish-compose"><small class="dish-compose-text">{{ dish.composition }}</small></p></div>
                            <div class="dish-cost" id="btn-{{dish.id}}">{{ dish.cost }} ₽</div>
                            <div class="elements" id="item-btn-{{dish.id}}">
                                <div class="plusminus" id="btn-rem-{{dish.id}}">-</div>
                                <div class="quantity" id="amount-btn-{{dish.id}}">0</div>
                                <div class="plusminus" id="btn-add-{{dish.id}}">+</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
   </div>
    <div id="hiddenDishId" style="display:none;">{{dish_id}}</div>
</body>

<script>
    let tg = window.Telegram.WebApp;
    tg.expand();
    tg.MainButton.text = "Корзина";
    tg.MainButton.textColor = "#FFFFFF";
    tg.MainButton.color = "#0275D8";
    tg.MainButton.show();
    tg.BackButton.hide();
    let uid = tg.initDataUnsafe.user.id;
<!--    let uid = 113737020;-->
    let dishId = $("#hiddenDishId").text()
    let amount = 0;
    $(document).ready(function(){
        let x = document.getElementsByClassName("scrollNav-active");
        if(x.length > 0) { x[0].classList.remove("scrollNav-active"); }
        $(".scrollNav-links").first().addClass("scrollNav-active");
        let rest_id = $("#wrapper").attr("class").split(' ')[1]
        $.ajax({
            url: "/webapp/data",
            data: {"uid": uid, "method": "onload", "rest_id": rest_id},
            type: "POST",
            success: function(data){
                if (!($.isEmptyObject(data.cart))) {
                    for (var key in data.cart) {
                        amount += Number(data.cart[key]["price"]) * Number(data.cart[key]["quantity"]);
                        $("#btn-" + key).hide();
                        $("#item-btn-" + key).show();
                        $("#amount-btn-" + key).html(data.cart[key]['quantity']);
                        $("#item-btn-" + key).css("display", "flex");
                        $("#itemCard-" + key).css("border-bottom", "thick double #0275D8");
                    }
                    tg.MainButton.setText("Корзина " + amount + " ₽");

                }
                if (dishId != "None") {
                  let scrollDiv = document.getElementById("itemCard-" + dishId).offsetTop;
                  let vh = window.innerHeight * 0.06;
                  window.scrollTo({ top: scrollDiv - vh, behavior: 'smooth'});
                }
            }
        });

    });


    $('img[id^="img-item-"]').click(function(){
        let category = "category-" + $(this).parent().attr("class").split("-")[2];
        let itemId = $(this).attr("id").split("-")[2];
        window.open("/webapp_item?uid=" + uid + "&item=" + itemId + "&category=" + category, "_self");
    });
    $(".terms").click(function(){
        let rest_id = $("#wrapper").attr("class").split('_')[1]
        window.open("/webapp_rest/" + rest_id, "_self");
    });
    $(".nav-items").on("click", function() {
        $(".nav-items").children("a").css("background-color", "#F8F8F8");
        $(".nav-items").children("a").css("border", "1px solid #F8F8F8");
        $(".nav-items").children("a").css("color", "black");
        $(this).children("a").css("background-color", "#0275D8");
        $(this).children("a").css("border", "1px solid #0275D8");
        $(this).children("a").css("color", "#F8F8F8");
        let x = document.getElementsByClassName("scrollNav-active");
        if(x.length > 0) { x[0].classList.remove("scrollNav-active"); }
        $(this).children("a").addClass("scrollNav-active");
        document.getElementById($(this).attr("id").slice(5)).scrollIntoView({behavior: "instant"});
    });
    $("#wrapper").ready(function() {
        $('.dish-cost').click(function(event) {

            $(this).hide();
            let cost = $(this).text().split(' ')[0];
            $("#item-" + $(this).attr("id")).show();
            $("#item-" + $(this).attr("id")).css("display", "flex");
            $.ajax({
                url: '/webapp/data',
                type: 'POST',
                data: {"uid": uid, "dish_id": $(this).attr("id").split("-")[1], "quantity": 1, "method": "create"},
                success: function(data) {
                    $("#amount-btn-" + data.dish_id).html(data.quantity);
                    amount += Number(cost);
                    $("#itemCard-" + data.dish_id).css("border-bottom", "thick double #0275D8");
                    tg.MainButton.setParams({"text": "Корзина " + amount + " ₽"});
                },
            });
        });
    });
    $(".plusminus").on("click", function() {
        let operation = $(this).attr("id").split("-")[1];
        $.ajax({
            url: '/webapp/data',
            type: 'POST',
            data: {"uid": uid, "dish_id": $(this).attr("id").split("-")[2], "quantity": 1, "method": "update",
            "operation": operation},
            success: function(data) {
                let cost = $("#btn-" + data.dish_id).text().split(' ')[0];
                $("#amount-btn-"+ data.dish_id).html(data.quantity);
                if (operation == 'add') {
                    amount += Number(cost)
                } else {
                    amount -= Number(cost)
                }
                if (data.quantity == 0) {
                    $("#itemCard-" + data.dish_id).css("border-bottom", "no");
                    $("#item-btn-" + data.dish_id).hide();
                    $("#btn-" + data.dish_id).show();
                    $("#itemCard-" + data.dish_id).css("border-bottom", "");
                    tg.MainButton.setParams({"text": "Корзина"});
                } else {
                  $("#itemCard-" + data.dish_id).css("border-bottom", "thick double #0275D8");
                  tg.MainButton.setParams({"text": "Корзина " + amount + " ₽"});
                }
            },
        });
    });
    let rest_id = $("#wrapper").attr("class").split(" ")[1].split("_")[1]
    Telegram.WebApp.onEvent('mainButtonClicked', function(){
        window.open("/webapp_cart?uid=" + tg.initDataUnsafe.user.id + "&restId=" + rest_id, "_self");
    });

</script>
</html>
